@font-face {
  font-family: 'Gilroy Light';
  src: local('Gilroy Light'), url(./fonts/gilroy-light.otf) format('truetype');
}
@font-face {
  font-family: 'Gilroy Extra Bold';
  src: local('Gilroy Extra Bold'), url(./fonts/gilroy-extra-bold.otf) format('truetype');
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
